*{
  font-family: 'Roboto Slab', serif;
}

header{
  height: 8vh;
  width:100%;
  background-image: linear-gradient(to left,#B4106C,#E63976);
}

#title-nav{
  height: 6vh;
  width:100%;
  background:#B4106C;
  text-align: center;
  color:#fff;
  font-size: 1.5em;
}

#nav-sections{
  height: 6vh;
  width:100%;
  background:#BF2C62;
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-sections div{
  width:8%;
  text-align: center;
}

#category-cover{
  height: 37vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0,0.4), rgba(0, 0, 0,0.4)), url("https://canastarosa.s3.amazonaws.com/media/__sized__/market/category/5186a3d3df3f36c137b5c61730a9c8ad-crop-c0-5__0-5-1280x268.png");
}

#category-cover{
  color:#fff;
  font-size: 2em;
}

section{
  display: flex;
}

#stores{
  width: 30%;
  padding: .5% 0 0 6%;
}

#sub-nav{
  display: flex;
  flex-wrap: wrap;
  width:100%;
}

#title-count,
#sub-nav form,
#order-prods{
  width:33%;
  height:8vh;
  display: flex;
  align-items: center;
}

#results{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  
}

.prod-card{
  width:25%;
}

.img-box{
  height:25vh;
  width:100%;
}

img{
  height:100%;
}
